body{
    background-color: rgba(0, 0, 255, 0.164);
    display: block;
    margin: 8px;
}

.app {
    margin: 0 auto;
    max-width: 650px;
  }

.d-flex{
    display: flex;
    justify-content: space-between;
}

.app-header{
    align-items: flex-end;
}


.app-header h1 {
    font-size: 26px;
  }
  
  .app-header h2 {
    font-size: 1.2rem;
    color: grey;
  }

  .search-panel .search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}
.search-panel {
    margin: 1rem 0;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
}


  .bottom-panel {
    margin-top: 20px;
  }
  
  .bottom-panel .new-post-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }

  .btn-group {
    position: relative;
    flex: 1 1 1;
    display: inline-flex;
    vertical-align: middle;
}

  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .btn-group .btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #848484;
    border-radius: 0;
}

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.app-list {
    margin-top: 20px;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.app-list .list-group-item {
    padding: 10px 35px 10px 35px;
    margin-top: 5px;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.app-list-item.important .app-list-item-label {
    color: #00e600;
}

.app-list-item-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
}

.app-list-item {
    font-size: 1.25rem;
}

.app-list-item.important .btn-check {
    color: #00e600;
}
  
.btn-outline-secondary {
    background-color: transparent;
    border-radius: .25rem;
    border: 1px solid #848484;
    color: #6c757d;
    
}

.app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
  }


  bottom-panel {
    margin-top: 20px;
  }
  
  .bottom-panel .new-post-label {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }
  
  
  .app-list {
    margin-top: 20px;
  }
  
  .app-list .list-group-item {
    padding: 10px 35px 10px 35px;
    margin-top: 5px;
  }
  
  .app-list-item {
    font-size: 1.25rem;
  }
  
  .app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .app-list-item button:focus {
    box-shadow: none;
    outline: none;
  }
  
  .app-list-item .btn-check {
    color: #aeaeae;
  }
  
  .app-list-item .btn-trash {
    color: red;
  }
  
  .app-list-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: red;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
  }
  
  .app-list-item-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
  }
  
  .app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .app-list-item.important .app-list-item-label {
    color: #00e600;
  }
  
  .app-list-item.important .btn-check {
    color: #00e600;
  }
  
  .post-list-item-date {
    font-size: 8px;
  }
  
  .search-panel {
    margin: 1rem 0;
  }
  
  .search-panel .search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
  }